@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background: #13131F;
    --background-darker: #0C0C14;
    --primary: #8257E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: #fff;
}

h1 {
    font-weight: 500;
}

section {
    height: 100%;
    border-bottom: 1px solid var(--primary);
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

.color-primary {
    color: var(--primary);
}

.font-title,
.font-title span {
    font-family: "Poppins", sans-serif;
}

.scroll-target {
    position: relative;
    padding-top: 60px;
    /* Ajuste conforme necessário */
    margin-top: -60px;
    /* Ajuste conforme necessário */
}