.logo a {
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--background-darker);
    border-bottom: 1px solid var(--primary);
    z-index: 2;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary);
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}

.menu-btn {
    display: none;
}

.menu-btn i {
    font-size: 1.5em;
}

@media (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--background-darker);
        padding: 10px;
        border-bottom: 1px solid var(--primary);
        z-index: 2;
    }

    nav a {
        text-align: center;
    }

    nav a::after {
        display: none;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
    }

    .fa-x {
        font-weight: 500;
    }
}