.presentation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7em;
    height: 100%;
}

.presentation-content .img {
    width: 400px;
    height: 400px;
    background-image: url('../img/developer.png');
    background-size: cover;
}

.presentation-content #name {
    margin: -15px 0 -10px 0;
}

.presentation-content .contact {
    display: flex;
    gap: 15px;
}

.presentation-content .contact div {
    background-color: var(--background-darker);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.presentation-content a {
    text-decoration: none;
}

.presentation-content .contact svg {
    width: 1em;
}

.presentation-content #cv {
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 0.5em;
    border: none;
}

.presentation-content .text-large {
    font-size: 2em;
}

.presentation-content .text-small {
    font-size: 0.5em;
    font-weight: 500;
}

@media (max-width: 768px) {

    .presentation-content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .presentation-content .contact {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .presentation-content {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .presentation-content .img {
        margin-bottom: 5em;
    }

    .presentation-content .contact {
        flex-direction: column;
        gap: 10px;
    }

    .presentation-content .text-large {
        font-size: 1.5em;
    }

    .presentation-content .text-small {
        font-size: 0.8em;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 450px) {
    .presentation-content {
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 0 10px;
    }

    .presentation-content .img {
        width: 300px;
        height: 300px;
    }

    .presentation-content .contact {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .presentation-content .text-large {
        font-size: 1.2em;
    }

    .presentation-content .text-small {
        font-size: 0.8em;
    }

    .svg-icon {
        width: 24px;
        height: 24px;
    }
}